.vertical-nav {
  position: fixed; 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   height: 100vh;
  ul li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  .dot {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    display: inline-block;
    background: #ccc;
    vertical-align: middle;
    margin-right: 8px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .label{
    font-size: 14px;
    transition: all .1s linear;
  }
  .active {
    .dot {
      background: #fff;
      // height: 13px;
      // width: 13px;
      // border: 1px solid #CCC;
    }
    .label {
     // text-decoration: line-through;
    }
  }
  .inprogress {
    .dot {
      background: #333;
    }
    .label {
      font-size: 10px;
      color: #666;
    }
    &:hover{
      .dot {
        background: #000;
      }
      .label {
        font-size: 11px;
        color: #222;
      }
    }
  }
  .inactive {
    .dot {
      background: #f2f2f2;
    }
    .label {
      display: none;
    }
  }
  .couter-step {
    width: 20px;
    text-align: center;
    .step-progress {
      font-size: 16px !important;
      font-weight: bold;
      border-bottom: 1px solid #333;
      padding-bottom: 2px;
      margin-bottom: 2px;
    }
    .step-total {
      font-size: 11px !important;
    }
  }
}